global:
  message: "Configuração global para todos os serviços"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

management:
    endpoints:
        health:
          show-details: always

       
